[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[dev-packages]

[packages]
ipython = "*"
markdown = "*"
nbconvert = "*"
beautifulsoup4 = "*"
ghp-import = "*"
matplotlib = "*"
jupyter = "*"

[requires]
python_version = "3.7"
